<div id="logInBlock" class="container inBlock flex flex-column">
    <h2>Log In</h2>
    <p>Nice to meet you</p>
    <div id="mainlogInBlock" class="mainInBlock">
        <form action="" method="post">
            <div class="input-block">                  
                <input type="text" name="email" autocomplete="off" required>
                <label class="control-label" for="email"><b>Email</b></label>
            </div>
            <div class="input-block">                 
                <input type="password" name="psw" autocomplete="off" required>
                <label class="control-label" for="psw"><b>Password</b></label>
            </div>
            <div id="logInformButtons" class="form-buttons">
                <button class="base-btn-1"><span>Log In</span></button>
                <button class="base-btn-2">
                    <img src="/media/favicons/2bb21209f5ed1278e70af044f5f129f1.png" alt="">
                </button>
            </div>
        </form>
    </div>
</div>