<div id="signUpBlock" class="container inBlock flex flex-column">
    <h2>sign up</h2>
    <p>join us</p>
    <div id="mainRegBlock" class="mainInBlock">
        <form action="" method="post">
            <div class="input-block">                   
                <input type="text" name="name" autocomplete="off" required>
                <label class="control-label" for="name"><b>Name</b></label>
            </div>
            <div class="input-block">                  
                <input type="text" name="email" autocomplete="off" required>
                <label class="control-label" for="email"><b>Email</b></label>
            </div>
            <div class="input-block">                 
                <input type="password" name="psw" autocomplete="off" required>
                <label class="control-label" for="psw"><b>Password</b></label>
            </div>
            <div class="input-block">               
                <input type="password" name="pswRepeat" autocomplete="off" required>
                <label class="control-label" for="pswRepeat"><b>Repeat Password</b></label>
            </div>
            <div id="regformButtons" class="form-buttons">
                <button class="base-btn-1"><span>Sign Up</span></button>
                <button class="base-btn-2">
                    <img src="/media/favicons/2bb21209f5ed1278e70af044f5f129f1.png" alt="">
                </button>
            </div>
            <p> By clicking "Sign up" I agree with <a href="">Terms of Servise</a>.</p>
        </form>
    </div>
</div>
