<h1 style="padding-top: 100px;color:white;text-align:center;">{{message}}</h1>
<h2 style="color:white;text-align:center;">{{error.status}}</h2>
<pre style="color:white;text-align:center;">{{error.stack}}</pre>
