@media screen and (max-width: 900px) {
  h2 {
    font-size: 32px;
    line-height: 32px; }
  .com-padding {
    padding-left: 30px;
    padding-right: 30px; }
  .Header > .container #buttonsLog {
    margin-right: 50px; }
  .Header > .container div#blockOfBtnMenu {
    display: block;
    margin-right: 10px; }
  .Header > .container a#logo > img {
    width: 40px; }
  .Header > .container nav#navBar {
    display: none; }
  .overlay {
    position: fixed;
    display: block !important;
    margin-top: 60px;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 31;
    left: -50px;
    background: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    transition: 0.5s; }
    .overlay div.overlay-content {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%; }
      .overlay div.overlay-content a {
        text-align: left;
        display: block;
        font-size: 60px;
        margin: 30px 0 0 20px !important; }
  div.container > .pre-header-poster {
    height: 500px; }
    div.container > .pre-header-poster div#blockOfDragElements .container-item #middleBlockOfPoster {
      margin-top: 140px; }
      div.container > .pre-header-poster div#blockOfDragElements .container-item #middleBlockOfPoster p {
        margin-top: -20px; }
    div.container > .pre-header-poster div#blockOfDragElements div#countElements {
      margin-top: 100px; }
  main.main-block div#navigationBlock {
    height: 150px; }
    main.main-block div#navigationBlock a.navi-item img {
      width: 50px; }
    main.main-block div#navigationBlock a.navi-item span.navi-text {
      font-size: 20px; }
  main.main-block div#consult {
    height: auto; }
    main.main-block div#consult div#consultInfoBlock {
      width: 100%;
      margin-top: 50px;
      flex-direction: column;
      flex-wrap: wrap; }
      main.main-block div#consult div#consultInfoBlock div.flex-item {
        width: 100%;
        height: 400px; }
  main.main-block div#design {
    height: 100vh;
    min-height: 500px; }
    main.main-block div#design div#textBlockDesign {
      position: absolute;
      z-index: 1;
      width: 100%; }
      main.main-block div#design div#textBlockDesign div {
        padding: 0 10px 0 10px;
        text-shadow: 1px 1px 4px #000000; }
        main.main-block div#design div#textBlockDesign div h2 {
          text-align: center; }
        main.main-block div#design div#textBlockDesign div p {
          display: block;
          margin: auto;
          text-align: center;
          margin-bottom: 20px; }
        main.main-block div#design div#textBlockDesign div button {
          display: block;
          margin: auto;
          margin-top: 20px; }
    main.main-block div#design div#imgBlockDesign {
      width: 100%;
      height: 100%;
      z-index: 0; }
      main.main-block div#design div#imgBlockDesign img {
        margin-right: 0;
        z-index: 0;
        height: 100%;
        min-width: 100%;
        width: auto; }
    main.main-block div#design div#lernMoreBlockDesign button {
      margin: 60px 30px 0 0; }
    main.main-block div#design div#lernMoreBlockDesign div#aboutDesign h2 {
      text-align: center; }
    main.main-block div#design div#lernMoreBlockDesign div#aboutDesign ol li p {
      text-align: left; }
  main.main-block div#engineer {
    height: auto; }
    main.main-block div#engineer :first-child {
      width: 100%; }
    main.main-block div#engineer :nth-child(2) {
      width: 100%;
      padding: 0; }
      main.main-block div#engineer :nth-child(2) div#enginersPhotos {
        height: 500px;
        width: 100%;
        padding-right: 10px;
        margin: auto auto;
        --height-block: 50px; }
        main.main-block div#engineer :nth-child(2) div#enginersPhotos div#changerPhotoEngineer {
          margin: auto;
          margin-top: 20px;
          margin-bottom: 20px; }
          main.main-block div#engineer :nth-child(2) div#enginersPhotos div#changerPhotoEngineer p {
            font-size: 32px;
            width: auto;
            margin: auto auto; }
        main.main-block div#engineer :nth-child(2) div#enginersPhotos div#blockOfEngineersPhoto {
          width: 100%;
          height: 300px;
          overflow: hidden;
          white-space: nowrap; }
          main.main-block div#engineer :nth-child(2) div#enginersPhotos div#blockOfEngineersPhoto div.media img {
            padding: 0;
            width: 100%;
            height: 100%;
            position: relative;
            object-fit: cover; }
          main.main-block div#engineer :nth-child(2) div#enginersPhotos div#blockOfEngineersPhoto .opacity {
            opacity: 0.2;
            transition: opacity 0.5s; }
          main.main-block div#engineer :nth-child(2) div#enginersPhotos div#blockOfEngineersPhoto .middle {
            margin: 0 50px 0 50px; }
  .animation-bottom-border::after {
    display: none; }
  .rotate-45 {
    transform: rotate(-45deg) translate(0px, 7px); }
  .rotate-p-45 {
    transform: rotate(45deg) translate(0px, -7px); } }

@media screen and (max-width: 600px) {
  h2 {
    font-size: 18px;
    line-height: 18px; }
  .com-padding {
    padding-left: 10px;
    padding-right: 10px; }
  .Header > .container a#logo > img {
    width: 40px; }
  .Header > .container nav {
    display: none;
    margin-left: 50px; }
  .Header > .container div#buttonsLog {
    margin-right: 20px; }
  .overlay div.overlay-content {
    margin-top: 10%; }
    .overlay div.overlay-content a {
      display: block;
      font-size: 60px; }
  div.container > .pre-header-poster {
    height: 400px; }
    div.container > .pre-header-poster div#blockOfDragElements .container-item {
      width: 15%;
      height: 100%; }
      div.container > .pre-header-poster div#blockOfDragElements .container-item #middleBlockOfPoster {
        margin-top: 50px; }
        div.container > .pre-header-poster div#blockOfDragElements .container-item #middleBlockOfPoster p {
          font-size: 16px;
          margin-top: -10px; }
    div.container > .pre-header-poster div#blockOfDragElements div#countElements {
      margin-top: 100px; }
  main.main-block div#navigationBlock {
    height: 100px; }
    main.main-block div#navigationBlock a.navi-item img {
      width: 30px; }
    main.main-block div#navigationBlock a.navi-item span.navi-text {
      font-size: 14px; }
    main.main-block div#navigationBlock a.navi-item:hover {
      background: var(--main-color-4); }
  main.main-block div#consult div#consultInfoBlock div.flex-item h3 {
    padding: 0 5px 0 5px;
    font-size: 18px; }
  main.main-block div#consult div#consultInfoBlock div.flex-item p {
    font-size: 14px; }
  main.main-block div#design {
    height: 100vh; }
    main.main-block div#design div#textBlockDesign {
      position: absolute;
      z-index: 1;
      width: 100%; }
      main.main-block div#design div#textBlockDesign div {
        padding: 0 10px 0 10px; }
        main.main-block div#design div#textBlockDesign div h2 {
          text-align: center; }
        main.main-block div#design div#textBlockDesign div p {
          text-align: center;
          max-width: 300px;
          font-size: 14px;
          line-height: 14px; }
        main.main-block div#design div#textBlockDesign div button {
          display: block;
          margin: auto; }
    main.main-block div#design div#imgBlockDesign {
      width: 100%;
      height: 100%;
      z-index: 0; }
      main.main-block div#design div#imgBlockDesign img {
        margin-right: 0;
        z-index: 0;
        height: 100%;
        min-width: 100%;
        width: auto; }
    main.main-block div#design div#lernMoreBlockDesign button {
      margin: 60px 30px 0 0; }
    main.main-block div#design div#lernMoreBlockDesign div#aboutDesign h2 {
      text-align: center; }
    main.main-block div#design div#lernMoreBlockDesign div#aboutDesign ol li {
      font-size: 16px; }
      main.main-block div#design div#lernMoreBlockDesign div#aboutDesign ol li p {
        font-size: 14px;
        text-align: left; }
  main.main-block div#operate {
    padding-bottom: 0; }
    main.main-block div#operate h2 {
      font-size: 32px;
      margin: 60px 0px 20px 0px; }
    main.main-block div#operate p {
      font-size: 18px;
      line-height: 18px;
      margin-top: 0; }
      main.main-block div#operate p span {
        color: var(--main-color-2); }
    main.main-block div#operate div#agileBlock div.container-item {
      margin: 0;
      width: 100%;
      height: 300px;
      box-shadow: none;
      border-radius: 0; }
      main.main-block div#operate div#agileBlock div.container-item div.hover-item {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -300px;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: margin-top 0.3s; }
        main.main-block div#operate div#agileBlock div.container-item div.hover-item p {
          margin: 0;
          height: auto; }
      main.main-block div#operate div#agileBlock div.container-item div.list {
        width: 60px;
        height: 60px;
        background: white;
        border-radius: 100%;
        margin-top: 10px;
        transition: margin-top 0.3s; }
        main.main-block div#operate div#agileBlock div.container-item div.list span {
          user-select: none; }
      main.main-block div#operate div#agileBlock div.container-item p {
        margin-top: 40px;
        width: 200px;
        height: 50px; }
      main.main-block div#operate div#agileBlock div.container-item img {
        margin-top: 20px;
        width: 75px;
        height: 75px; } }

@media screen and (max-width: 350px) {
  div.container > .pre-header-poster div#blockOfDragElements div#countElements {
    margin-top: 30px; }
  main.main-block div#navigationBlock {
    height: 100px; }
    main.main-block div#navigationBlock a.navi-item img {
      width: 30px; }
    main.main-block div#navigationBlock a.navi-item span.navi-text {
      font-size: 12px; }
    main.main-block div#navigationBlock a.navi-item:hover {
      background: var(--main-color-4); } }

/*# sourceMappingURL=mediaStyle.css.map */